@import "../../../assets/styles/variables";

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;

    .logo-icon {
      font-size: 45px;
    }

    h6 {
      margin-left: 10px;
      text-decoration: none;
      color: $default-color;
      font-size: 30px;
      font-family: 'Shadows Into Light', cursive;;
    }
  }
}
