@import "../../../assets/styles/variables";

.avatar {
  width: 32px;
  height: 32px;
  contain: content;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
}
