@import '../../../assets/styles/variables';

.MuiAppBar-root.header {
  background-color: #fff;
  color: $text-color;
  box-shadow: none;
  border-bottom: 1px solid $border-color;
  height: 80px;

  .MuiToolbar-root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}
