@import './variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Open Sans', sans-serif;
  color: $text-color;
  font-size: 16px;
  line-height: 18px;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

#app {
  position: relative;
  min-height: 100vh;
  padding: $header-height 0 0;

  &::after {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    height: 100vh;
    width: 855px;
    background: url('../images/common/tennis-predictor-bg.jpg') no-repeat calc(100% + 30px) calc(100% + 10px);
    background-size: 46vw 36vw;
  }
}

.form-default {
  width: 700px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  &.modal-form {
    margin: 0;
    padding: 24px;

    .MuiFormControl-root {
      margin-top: 0;
      width: 100%;

      .MuiInputBase-root.Mui-disabled {
        color: $text-color;
      }
    }
  }
}

.hidden {
  display: none!important;
}

.Toastify__toast {
  top: 85px!important;
}

.remove-acc {
  font-size: 24px;
  line-height: 26px;
  color: $text-color;
  font-family: 'Open Sans', sans-serif;
  margin-top: 60px;

  .error-btn.default-btn.red {
    margin-left: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    height: 48px;
    padding: 0 20px;
    font-size: 24px;
    line-height: 26px;
  }
}

.bio {
  display: flex;
  margin: 50px 0;
  padding: 0 24px 0 0;
  justify-content: space-between;

  &__wrapper {
    width: 100%;
    max-width: 900px;

    .MuiPaper-root {
      padding: 0;
      box-shadow: none;
      border: none;

      &>.MuiGrid-container {
        height: 100%;
        border: 1px solid $border-color;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        overflow: hidden;


      }

      .MuiGrid-item {
        .bio-container-wrapper {
          border: 1px solid $border-color;
          height: 100%;
          padding: 24px;

          .grid-row {
            margin: 0;
            min-height: 70px;
            width: 100%;

            .MuiGrid-item {
              min-height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;

              .avatar {
                width: 110px;
                height: 110px;
                margin-bottom: 10px;
              }
              .valueText {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;

                .label {
                  display: flex;
                  font-size: 14px;
                  line-height: 16px;
                  margin-bottom: 5px;
                }
                .value {
                  font-size: 24px;
                  line-height: 28px;
                  //color: $default-color;
                  color: $text-color;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }

  .toggle-bio-btn {
    min-width: 100px;
    margin-left: 80px;
  }
}

.profile-form {

  .MuiFormControl-root,
  .MuiTextField-root {
    width: 100%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;

    .MuiInput-underline:hover:not(.Mui-disabled):before {
      border-color: $text-color;
    }
    .MuiFormLabel-root.Mui-error {
      color: $red;
    }
    .MuiInputLabel-root {
      color: $text-color;
    }
    .MuiInput-underline.Mui-error:after {
      border-color: $red;
    }
    .MuiInput-underline:after {
      border-color: $default-color;
    }

    .default-btn {
      margin-bottom: 10px;
    }

    .search-list,
    .MuiFormHelperText-root.Mui-error {
      position: absolute;
      top: 100%;
    }

    .search-list {
      z-index: 2;
      background: #fff;
      width: 100%;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 18px;
      box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
      .MuiList-root {
        .MuiListItem-root {
          padding: 0;

          span {
            padding: 10px 20px;
            display: flex;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .default-btn {
    margin-left: auto;
  }
}

.rating-card {
  margin: 50px 0;
}

.link-default {
  color: $text-color;
  text-decoration: none;
  transition: color .3s ease-in-out;

  &:hover {
    color: $default-color;
  }
}

.rating-card__wrapper {
  display: flex;
  justify-content: space-between;

  .rating-card {
    width: 100%;
  }

  .default-btn {
    margin: 50px 0 50px 200px;
  }
}
